<app-menu pageTitle="Administration"></app-menu>
<div class="main-layout">
  <div class="main-card">
    <div class="card-title">
      <span class="card-header-title">Categories</span>
      <button type="button" class="btn btn-outline-light category-button">New Category</button>
    </div>
    <div>
      <mat-list role="list">
        <mat-list-item class="list-item" role="listitem" *ngFor="let topic of dataSource">
          <span class="menu-item" matLine>{{topic}}</span>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
  <div class="main-card">
    <span class="card-header-title">Questions</span>
    <span>body</span>
  </div>
</div>
