@import "../../../assets/styles/variables";
@import "../../../assets/styles/common";

.main-layout {
  margin: 10px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: min-content min-content min-content;
}

.header-container {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  background-color: $ime-grey-3;
}

.header {
  font-size: 24px;
  color: $ime-blue-3;
  height: 50px;
  line-height: 50px;
  display: flex;
  align-content: center;
  margin-left: 10px;
}

.selection-layout {
  margin: 5px;
  border: 1px solid $ime-grey-3;
  border-radius: 3px;
  padding: 20px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  background-color: $ime-grey-4;
}

.selection-title {
  margin-right: 10px;
  font-size: 20px;
  color: $ime-blue-3;
}

.dropdown-row {
  display: grid;
  grid-template-columns: 400px auto;
  grid-template-rows: auto;
}

.selected-items {
  font-size: 18px;
  color: $ime-blue-3;
}

.item-text {
  font-size: 18px;
  color: $ime-purple-5;
}

// Question & Answer Section
.question-layout {
  margin: 5px;
  border: 1px solid $ime-grey-3;
  border-radius: 3px;
  padding: 20px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  background-color: $ime-grey-4;
}

.button-container {
  display: grid;
  grid-template-columns: 200px 200px auto;
  grid-template-rows: auto;
}

.question-count {
  font-size: 18px;
  color: $ime-blue-3;
  align-self: center;
}

.question-answer-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  //border: 1px solid red;
}

// Question Section
.card-layout-question {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  margin-top: 20px;
  border: solid 1px $ime-grey-3;
  border-radius: 10px;
  font-size: 18px;
  color: $ime-blue-3;
  padding: 15px;
  //border: 1px solid red;
}

.question-buttons {
  margin-top: 10px;
}

.previous-button {
  align-self: center;
  justify-self: end;
  margin-right: 20px;
}

.previous-button-disabled {
  @extend .previous-button;
  background-color: $ime-grey-2;
}

.next-button {
  align-self: center;
  justify-self: start;
  margin-left: 20px;
}

.next-button-disabled {
  @extend .next-button;
  background-color: $ime-grey-2;
}

.question-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  //border: solid 1px red;
}

.title-container {
  display: grid;
  grid-template-columns: 250px 250px;
  grid-template-rows: auto;
  margin-bottom: 10px;
  //border: solid 1px red;
}

.text-area-question {
  height: 3em !important;
  //border: solid 1px red;
}

// Answer Section
.card-layout-answer {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 300px;
  margin-top: 20px;
  border: solid 1px $ime-grey-3;
  border-radius: 10px;
  font-size: 18px;
  color: $ime-blue-3;
  padding: 15px;
}

.answer-container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  //border: solid 1px red;
}

.text-area-answer {
  height: 14em !important;
  //border: solid 1px red;
}

