<app-spinner *ngIf="isLoading"></app-spinner>
<app-menu pageTitle="Dashboard"></app-menu>

<div class="main-layout">
  <div class="header-container">
    <span class="header">How do you want to be interviewed today</span>
  </div>
  <div class="selection-layout">
    <div class="dropdown-row">
      <div>
        <span class="selection-title">Categories</span>
        <mat-form-field>
          <mat-select multiple [(ngModel)]="selectedCategories" placeholder="Select Categories">
            <mat-option *ngFor="let category of categoryList" [value]="category">{{ category }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <span class="selection-title">Skill Level</span>
        <mat-form-field>
          <mat-select multiple [(ngModel)]="selectedSkills" placeholder="Select Skill Levels">
            <mat-option *ngFor="let skill of skillList" [value]="skill">{{ skill }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div>
      <span class="selected-items">Selected Categories: </span><span class="item-text">{{ selectedCategories }}</span>
    </div>
    <div>
      <span class="selected-items">Selected Skills: </span><span class="item-text">{{ selectedSkills }}</span>
    </div>
  </div>
  <div class="question-layout">
    <div class="button-container">
      <button mat-button class="ime-button" (click)="start()">Start</button>
      <button mat-button class="ime-button" (click)="stop()">Stop</button>
      <span class="question-count" *ngIf="questions.length > 0">Question {{currentCount + 1}} of {{questions.length}}</span>
    </div>
    <div class="question-container">
      <div class="card-layout-question mat-elevation-z8">
        <div class="card-text">
          <div class="text-area-container">
            <div class="title-container">
              <div>
                <span class="selected-items">Category: </span><span class="item-text">{{ currentCategory }}</span>
              </div>
              <div>
                <span class="selected-items"> Skill: </span><span class="item-text">{{ currentSkill }}</span>
              </div>
            </div>
            <textarea class="text-area" readonly rows="15" cdkTextareaAutosize [value]="currentQuestion"></textarea>
          </div>
        </div>
        <div class="card-buttons">
          <button mat-button class="ime-button previous-button-disabled" (click)="previousQuestion()">Previous</button>
          <button mat-button class="ime-button next-button-disabled" (click)="nextQuestion()">Next</button>
        </div>
      </div>
      <div class="card-layout-answer mat-elevation-z8">
        <div class="card-text">
          <div class="text-area-container" *ngIf="showAnswer">
            <span class="control-title">Answer</span>
            <textarea class="text-area" readonly rows="15" cdkTextareaAutosize [value]="currentAnswer"></textarea>
          </div>
        </div>
        <div class="card-button">
          <button mat-button class="ime-button" (click)="toggleShowAnswer()">Flip</button>
        </div>
      </div>
    </div>
    </div>
</div>
