<app-spinner *ngIf="isLoading"></app-spinner>
<app-menu pageTitle="Dashboard"></app-menu>

<div class="main-layout">
  <div class="header-container">
    <span class="header">Select how you want to be interviewed today</span>
  </div>
  <div class="selection-layout">
    <div class="dropdown-row">
      <div>
        <span class="selection-title">Categories</span>
        <mat-form-field>
          <mat-select multiple [(value)]="selectedCategories" placeholder="Select Categories">
            <mat-option *ngFor="let category of categoryList" [value]="category">{{ category }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <span class="selection-title">Skill Level</span>
        <mat-form-field>
          <mat-select multiple [(value)]="selectedSkills" placeholder="Select Skill Levels">
            <mat-option *ngFor="let skill of skillList" [value]="skill">{{ skill }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div>
      <p class="selected-items">Selected Categories: {{ selectedCategories }}</p>
    </div>
    <div>
      <p class="selected-items">Selected Skills: {{ selectedSkills }}</p>
    </div>
  </div>
  <div class="question-layout">
    <div class="button-container">
      <button mat-button class="ime-button" (click)="start()">Start</button>
      <button mat-button class="ime-button" (click)="stop()">Stop</button>
    </div>
    <div class="question-container">
      <div class="card-layout-question mat-elevation-z8">
        <div class="card-text">
          This is a sample question.
        </div>
        <div class="card-button">
          <button mat-button class="ime-button" (click)="start()">Next</button>
        </div>
      </div>
      <div class="card-layout-answer mat-elevation-z8">
        <div class="card-text">
          This is a sample answer.
        </div>
        <div class="card-button">
          <button mat-button class="ime-button" (click)="start()">Flip</button>
        </div>
      </div>
    </div>
    </div>
</div>
