@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/common";

.category-button {
  width: 130px;
}

.input-group-text {
  background-color: $ime-blue-5;
  color: $ime-cyan-5;
  font-size: 18px;
}

.form-control {
  font-size: 18px;
}

.modal-title {
  font-size: 30px;
}

.list-item {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
}

.trash-can {
  font-size: 18px;
  color: $ime-cyan-5;
  cursor: pointer;
  width: 50px;
}

.trash-can:hover {
  font-size: 25px;
  font-weight: bold;
  color: $ime-white;
}

.menu-item {
  margin-left: 20px;
  font-size: 18px;
  color: $ime-cyan-5;
  cursor: pointer;
}

.menu-item:hover {
  font-size: 25px;
  font-weight: bold;
  color: $ime-white;
}
