@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/common";

.question-button {
  width: 130px;
}

.table-container {
  margin-top: 10px;
}

.main-table{
  max-height: 70vh;
  overflow-y:scroll;
  overflow-x:hidden;
  //border: 1px solid red;
}

.body-container {
  display: grid;
  grid-template-columns: 130px  auto;
  grid-template-rows: auto auto auto auto;
}

.text-field {
  min-height: 3em;
  width: 100%;
}

.input-group-text {
  background-color: $ime-blue-5;
  color: $ime-cyan-5;
  font-size: 18px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.select-container {
  justify-self: left;
  align-self: center;
  width: 100%;
  margin-left: 20px;
}

.dropdown-font {
  font-size: 14px;
  color: $ime-blue-3;
}

.question-row {
}

.question-row:hover {
  background-color: $ime-cyan-5;
  cursor: pointer;
}
