@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/common";

.question-header-title {
  display: grid;
  grid-template-columns: auto auto min-content;
  grid-template-rows: auto;
}

.question-button {
  width: 130px;
}

.table-container {
  margin-top: 10px;
}

.main-table{
  max-height: 70vh;
  overflow-y:scroll;
  overflow-x:hidden;
  //border: 1px solid red;
}

.body-container {
  display: grid;
  grid-template-columns: 130px  auto;
  grid-template-rows: auto auto auto auto;
}

.text-field {
  min-height: 3em;
  width: 100%;
}

.input-group-text {
  background-color: $ime-blue-5;
  color: $ime-cyan-5;
  font-size: 18px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.select-container {
  justify-self: left;
  align-self: center;
  width: 100%;
  margin-left: 20px;
}

.dropdown-font {
  font-size: 14px;
  color: $ime-blue-3;
}

.question-row {
}

.question-row:hover {
  background-color: $ime-cyan-5;
  cursor: pointer;
}

.search-content {
  border-radius: 10px;
  background-color: $ime-grey-5;
  height: 40px;
  width: 245px;
  justify-self: left;
  align-self: center;
  //border: 1px solid red;
}

.search-input {
  height: 40px;
  width: 245px;
  border-radius: 10px;
  //border: 1px solid red;
}

.search-icon {
  color: $ime-blue-3;
}

.search-icon-background {
  background-color: $ime-grey-5;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  //border: 1px solid red;
}

.search-input-background {
  background-color: $ime-grey-5;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-left: $ime-grey-2 1px solid;
  //border: 1px solid red;+
}
