// Global Variables used throughout the application

// Blue Colors
$ime-blue-1: #0A192C;
$ime-blue-2: #182940;
$ime-blue-3: #27374D;
$ime-blue-4: #3D4F67;
$ime-blue-5: #596980;

// Cyan Colors
$ime-cyan-1: #3495B5;
$ime-cyan-2: #55B2D1;
$ime-cyan-3: #7CCBE5;
$ime-cyan-4: #AAE1F4;
$ime-cyan-5: #E1F6FD;

// Green Colors
$ime-green-1: #072B23;
$ime-green-2: #143F35;
$ime-green-3: #234B42;
$ime-green-4: #38655B;
$ime-green-5: #537E74;

// Light Green Colors
$ime-light-green-1: #72951F;
$ime-light-green-2: #91B53E;
$ime-light-green-3: #B7D968;
$ime-light-green-4: #D7F299;
$ime-light-green-5: #E8F8C3;

// Purple Colors
$ime-purple-1: #110C2F;
$ime-purple-2: #211B44;
$ime-purple-3: #302B51;
$ime-purple-4: #48436C;
$ime-purple-5: #655F87;

// Yellow Colors
$ime-yellow-1: #B99D2B;
$ime-yellow-2: #D9BE50;
$ime-yellow-3: #FDE47F;
$ime-yellow-4: #FFEDA6;
$ime-yellow-5: #FFF5CD;

// Grey Colors
$ime-grey-1: #595555;
$ime-grey-2: #878585;
$ime-grey-3: #B1B0B0;
$ime-grey-4: #DEDDDD;
$ime-grey-5: #FFFEFE;
$ime-white: whitesmoke;
